/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .header-container {
    flex-direction: column;
  }
  .nav > ul {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 3.5rem;
  }
  .nav li:last-child {
    margin: 1.75rem 0;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    padding: 4rem;
    margin-left: 0;
  }
  .banner-content h2 {
    font-size: 2rem;
  }
  .banner-content h1 {
    font-size: 4rem;
  }
  .banner-image img {
    width: 100%;
  }
  .btn-primary {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }
  .btn-primary:last-child {
    margin-left: 0.625rem;
  }
  /* online-game section */
  .online-game-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  /* play-game section  */
  .play-game {
    flex-direction: column;
  }
  .play-game-content {
    padding: 0 1.5rem;
    text-align: center;
  }
  .play-game-content .section-desc {
    margin: 2rem 0 4rem;
  }
  .play-game-image img:first-child {
    width: 300px;
  }
  .small-pic {
    bottom: -4em;
    left: -2.5rem;
    width: 150px;
  }
  /* sponsor section */
  .sponsors {
    gap: 0.5rem;
  }
  .single-sponsor {
    padding: 0.25rem;
  }
  .single-sponsor img {
    width: 30px;
  }
  .single-sponsor p {
    font-size: 14px;
  }
  /* footer   */
  .footer-menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .social-media {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .privacy-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}

/* responsiveness for tablet device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  .nav > ul {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 3.5rem;
  }
  .nav li:last-child {
    margin: 1.75rem 0;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    padding: 6.375rem;
    margin-left: 0;
  }
  .banner-image img {
    width: 100%;
  }
  /* online-game section */
  .online-game-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  /* play-game section  */
  .play-game {
    flex-direction: column;
  }
  .play-game-content {
    padding: 0 7rem;
    text-align: center;
  }
  .play-game-content .section-desc {
    margin: 2rem 0 4rem;
  }
  .play-game-image img {
    max-width: 100%;
  }
  .small-pic {
    bottom: -4em;
    left: -2.5rem;
    width: 250px;
  }
  /* sponsor section */
  .sponsors {
    gap: 0.5rem;
  }
  .single-sponsor {
    padding: 0.5rem;
  }
  .single-sponsor img {
    width: 30px;
  }
  .single-sponsor p {
    font-size: 14px;
  }
  /* footer   */
  .footer-menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .social-media {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .privacy-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}
